body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center; /* centers box horizontally */
  align-items: center; /* centers box vertically */
}

h1 {
  text-decoration: underline;
}

.center {
  position: relative;
  text-align: center;
  width: 50%;
}
img {
  width: 100%;
}
.butterflyhover:hover {
  cursor: url("img/butterfly.png"), auto;
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.butterfly-wrap {
  position: relative;
  display: inline-block;
}

#mailBubble {
  position: fixed;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  padding: 10px 14px;
  font-size: 16px;
  white-space: nowrap;
  z-index: 999;
}

.hidden {
  display: none;
}
#email {
  text-decoration: none;
}

#emailForm {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#emailForm input {
  padding: 6px;
  border: 1px solid pink;
  outline: none;
}

#emailForm button {
  padding: 6px;
  border: none;
  background: pink;
  cursor: pointer;
}
